// all color
$white: #ffffff;
$yellow: #F34423;
$yellow2: #F34423;
$black: #020d18;
$black2: #252525;
$lightblack: #606060;
$deepblack: #081827;
$blue: #4e8ec8;

$gray: #eeeeee;
$gray2: #cccccc;
$gray3: #9b9b9b;
$gray4: #f5f5f5;
$gray5: #a1a1a1;
$gray6: #e6e5ed;

// social media color
$facebook: #3b5999;
$twitter: #55acee;
$pinterest: #bd081c;
$linkedin: #0077B5;

$dark-primary-2: #2b2b2b;
$dark-primary: #1f1f1f;
$dark-text: #dddddd;
$dark-text-2: #fefefe;
$dark-gray: #4d4d4d;
$dark-gray-2: #5a5a5a;
$dark-smoke: #383838;
$dark-smoke2: #505050;



// all font-family
$opensans: 'Open Sans', sans-serif;
$ubuntu: 'Ubuntu', 1;
$source-sans: 'Source Sans Pro', sans-serif;

// all box-shaddow
$box-shadow: 0px 0px 10px 0px rgba( 0, 58, 115, 0.10);
$box-shadow1: 0px 0px 10px 0px rgba( 0, 58, 115, 0.15);
$box-shadow2: 0px 0px 50px 0px rgba( 0, 58, 115, 0.08);
$box-shadow3: 0px 0px 15px 0px rgba( 0, 58, 115, 0.08);
$box-shadow4: 0px 0px 30px 0px rgba( 0, 58, 115, 0.10);

